@import 'fonts';
@import 'colours';
@import 'mats_mixins';

$tablet: "only screen and (min-width : 768px) and (max-width : 1024px)";
$tv: "only screen and (min-width : 1025px) and (max-width : 1300px)";

%title-underline {
    display: inline-block;
    line-height: 0.8;
    border-bottom: 3px solid;
}

/* ******************************************************** */

html {
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*cursor: none;*/
	font-family: "ntatabularnumbers", Arial, sans-serif;
	font-weight: bold;
	color: $black;
}

.item {
    position: absolute;
    box-sizing: border-box;
	width: 100%;
	height: 100%;
	right: -100%;
	-webkit-transform: translateZ(0);
	transition: right 0.5s ease-out;
	background-color: $white;
	&.now {
		right: 0%;
		z-index: 2;
	}
	&.prev {
		right: 100%;
		z-index: 1;
	}
}

.item-container {
    @extend %total-center;
}

.item-content {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
}


/* ******************************************************** */

/* key colours */
.multiple-realtime .key-colour {
    background-color: $light-blue;
}


/* ******************************************************** */

/* figure grid */
.figure-grid {
    padding: 0 3%;
    .title {
        font-size: 3.75em;
        @extend %title-underline;
    }
}
.figure-items {
    padding: 2% 0;
}
.figure-item {
    width: 300px;
    float: left;
    padding: 0 2% 2% 0;
    .figure {
        height: 300px;
        border-radius: 100%;
        font-size: 6.75em;
        line-height: 300px;
        color: $white;
        margin-bottom: 0.2em;
        text-align: center;
    }
    .figure-title {
        height: 3em;
        font-size: 1.75em;
        line-height: 1.1;
    }
}


/* ******************************************************** */

/* GOV.UK logo */
.govuk {
    font-size: 95%;
    text-transform: uppercase;
    &.dot {
        position: relative;
        margin-left: -0.09em;
    }
}

